---
import ButtonIncrementer from '../components/LikeButton.jsx';

// title: 'Calm the FI Down About'
// pubDate: 2025-01-06
// description: 'This is a complete checklist to success in personal finance'
// author: 'Calm the FI Down'
// tags: ["personal finance", "personal finance checklist", "FIRE", "financial indepedence"]

---


<a href="/">Home</a>
<a href="/checklist/">Checklist</a>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Calm the FI Down</title>
	</head>
	<body>
		<h1>Personal Finance Checklist</h1>
        <p>How is your personal finance journey going?</p>
        <ButtonIncrementer>
	</body>
</html>
