---
import App from '../App.jsx';
import Header from '../components/Header.jsx';
import '../App.css';
import React from 'react';
import KoFiButton from '../components/KoFiButton.jsx';
import * as echarts from 'echarts';
import DebtPaydownChart from '../components/DebtPaydownChart';
title: 'Calm the FI Down Comparison'
pubDate: '2025-01-11'
description: 'This is a page where users can compare various financial decisions to see which would be best for them.'
author: 'Calm the FI Down'
tags: ["personal finance", "personal finance checklist", "FIRE", "financial independence"]
---

<Header>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Calm the FI Down</title>
	</head>
	<body class="container mx-auto px-4">
		<body class="container mx-auto px-4">
			<h1 class="text-center text-4xl font-extrabold mb-4">Compare Financial Decisions</h1>
			<p class="text-center mb-2">If this chart was useful:</p>
			<div class="mb-8", style={{
				display: 'flex',
				alignItems: 'center',
				justifyContent: 'center',
			}}><KoFiButton client:load/></div>
			<DebtPaydownChart client:load />
		  </body>
	</body>
</html>