---
import { CouplesChecklistApp } from '../CouplesChecklistApp.jsx';
import Header from '../components/Header.jsx';
import '../JourneyChecklistApp.css';
import React from 'react';
import KoFiButton from '../components/KoFiButton.jsx';
title: 'Calm the FI Down About'
pubDate: '2025-01-06'
description: 'This is a complete checklist to talk to your partner about  personal finance'
author: 'Calm the FI Down'
tags: ["personal finance", "personal finance checklist", "FIRE", "financial indepedence"]

---

<Header>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Calm the FI Down</title>
	</head>
	<body class="container mx-auto px-4">
		<body class="container mx-auto px-4">
			<h1 class="text-center text-4xl font-extrabold mb-4">Personal Finance Checklist</h1>
			<p class="text-center mb-4">Whether you are in a situationship, dating, considering marriage, or married, talking about these items with your partner is essential to good communication.</p>
			<p class="text-center mb-2">If this list was useful:</p>
			<div class="mb-8", style={{
				display: 'flex',
				alignItems: 'center',
				justifyContent: 'center',
			}}><KoFiButton client:load/></div>
			<CouplesChecklistApp client:load/>
		  </body>
	</body>
</html>