---
import '../JourneyChecklistApp.css';
import Header from '../components/Header.jsx';
---


<Header>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Calm the FI Down</title>
	</head>


	<body class="container mx-auto px-4">
		<body class="container mx-auto px-4">
			<h1 class="text-center text-4xl font-extrabold mb-6 mt-4">Hello World and Goodbye FI Stress.</h1>
			<p class="text-center mb-2 mt-8">Need a pointer for your personal finance journey? Check out our
				<a 
				href="/checklist/" 
				class="white-space: pre-line bg-blue-500 text-white font-bold py-2 px-3 rounded hover:bg-blue-700 transition-all"
				>
				Personal Finance Checklist
				</a>
			</p>
			<p class="text-center mb-2 mt-8">Want to be better about talking about money with your partner? Check out our
				<a 
				href="/couples-finance-checklist/" 
				class="white-space: pre-line bg-blue-500 text-white font-bold py-2 px-3 rounded hover:bg-blue-700 transition-all"
				>
				Couples Finance Checklist
				</a>
			</p>
			<p class="text-center mb-2 mt-8">Check out our updated website!
				<a 
				href="https://moneyinorder.github.io/" 
				class="white-space: pre-line bg-blue-500 text-white font-bold py-2 px-3 rounded hover:bg-blue-700 transition-all"
				>
				Money, In Order
				</a>
			</p>
		  </body>
	</body>
</html>