---
import '../App.css';
import Header from '../components/Header.jsx';
---


<Header>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Calm the FI Down</title>
	</head>


	<body class="container mx-auto px-4">
		<body class="container mx-auto px-4">
			<h1 class="text-center text-4xl font-extrabold mb-6 mt-4">Hello World and Goodbye FI Stress.</h1>
			<p class="text-center mb-2 mt-8">Need a pointer for your personal finance journey? Check out our
				<a 
				href="/checklist/" 
				class="white-space: pre-line bg-blue-500 text-white font-bold py-2 px-3 rounded hover:bg-blue-700 transition-all"
				>
				Personal Finance Checklist
				</a>
			</p>
			<p class="text-center mb-2 mt-8"> Why won't this debt go away? Check out our
				<a 
				href="/comparison/" 
				class="white-space: pre-line bg-blue-500 text-white font-bold py-2 px-3 rounded hover:bg-blue-700 transition-all"
				>
				Debt Paydown Chart
				</a>
			</p>
		</body>
	</body>
</html>