.progress {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    position: relative;
}

.progress-bar::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    color: black;
    text-align: center;
}